.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.ordered-items.columns {
    padding-top: 30px;
    padding-bottom: 25px;

    @media (width >= 900px) {
        padding-top: 70px;
        padding-bottom: 50px;

        & > div {
            align-items: start;
            gap: 100px;
        }
    }

    & > div {
        margin-bottom: 25px;

        @media (width >= 900px) {
            margin-bottom: 50px;
        }
    }

    & > div > div > p:first-child {
        font-size: var(--body-font-size-xl)
    }

    & > div > div:nth-child(2) > p {
        font-size: var(--body-font-size-xs)
    }

    & > div > div:nth-child(2) > p:first-child {
        margin-top: 0;
    }

    & h3 {
        margin-top: 0;
    }
}
